.b{
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.h img{
    
    width:300px ;   
   margin-left: 12%;
   border-radius: 5%;
   margin-top: 15%;
   border: 2px solid rgb(0, 0, 0);
}
.big{
    height: 600px; 
    width:400px ;   
    margin-top:35px ;
   margin-left: 10%;
   border-radius: 5%;
   border: 2px solid rgb(0, 0, 0);
   align-items: center;
justify-content: center;
background-color:rgb(225, 199, 172);
}
h1{
    text-align: center;
}