@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap);
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .hr{
    margin-top: -350px;
height: 300px;
width: 1300px;
margin-bottom: 40px;
margin-left: 10px;

  }
  .hr a img{
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    height: 300px;
    width: 300px;
    margin-bottom: 15px;
    margin-top: 1%;
    margin-left: 10px;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
   /*background-image: url(pics/bghhh.jpg);
   background-size:100%;*/
   background-color: #e7c8b2;
   background-repeat: no-repeat;
   background-attachment: fixed;
  }
  
  
  header {
   background-color:#e7c8b2 ;
    box-shadow: 0 2px 5px rgba(16, 14, 14, 0.1);
    height: 60px;
  }
  .haut{
    background-image: url("pics/haut.jpg");
    background-size: cover;
    box-shadow: 2px 2px 5px rgba(16, 14, 14, 0.1);
    height: 400px;
  }
  .haut h1{
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-size: 80px;
   text-align: center;
   color: #ffffff;
  text-shadow: -1px 2px 0 black,
               1px 1px 0 black,
               1px -1px 0 black,
               -1px -1px 0 black;

  }
  .f h1{
    color: #e4c29e;
     text-shadow: -1px 1px 0 black,
               1px 1px 0 black,
               1px -1px 0 black,
               -1px -1px 0 black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-top: 15 px;
    text-align: center;
   }
  .haut h5{
    color: #000000;
    font-family:Georgia;
    font-size: 15px;
    text-align: center;
   }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    margin: 0 auto;
    height: 60px;
    padding: 2px;
  }
  nav img{
    display:flex;
    z-index: 1;
  margin-inline-start: 0%;
    max-width: 60px;
    position: relative;
  }
  nav h1{
    display: flex;
    margin-right:130px;
    font-family: cursive ;
    margin-left: -60px;
  }
  nav ul {
    display: flex;
    list-style: none;
    margin-left: 500px;
  }
  
  nav ul li {
    margin-right: 50px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition:
    color 0.2s ease-in-out;
}

nav ul li a:hover {
color: #ffffff;
}
.im{
  background-image: url(pics/kh.jpeg);
  background-size:100%;
  margin: left 10px;
  margin-top: 10px;
  height: 400px;
  width: 450px;
  border: 10px;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  margin-right: 20px;
  margin-left: 15px;
}
.txt{
  margin: left 10px;
  margin-top: 10px;
  height: 400px;
  width: 450px;
  border: 10px;
  margin-right: 20px;
  margin-left: 15px;
  background-color: #d2ac90;
 
}

.txt h1{
  letter-spacing: 2.5px;
  margin-top: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 25px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.txt h1 span{
  
  font-size: 20px;
color: rgb(84, 62, 51);
}
.txt h3 {
  color: #503f26;
  font-size: 18px;
  text-align: center;
}
.txt p{
  margin-top: 10px;
  font-family: Arial, sans-serif;
  padding-bottom: 25px;
  font-size: 15px;
  line-height: 30px;
  color: #fffbfb;
  font-weight: bold; 
 text-align: center;
  
}
main {
max-width: 960px;
}
.img {
margin-top:40px ;
margin-left: 45%;}
.img img{
  border: 1px solid rgb(64, 44, 35);
   width: 300px;
   height: 300px;
   border-radius: 100%;
   margin-left: 3%;
 }
#hero {
background-color: #fffefe;
margin-bottom: 50px;
height:300px;
width:1347px;
display: flex;
flex-direction: column;
color: #000000;
text-align:left;
margin-top: 200px;
}
#hero img {
  border: 1px rgb(81, 67, 49) solid;
  height:600px;
  width:400px;
  margin-top: -215px;
  display: flex;
  margin-left: 890px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  }

#hero h1 {
font-size: 48px;
margin-bottom: 20px;
margin-left: 1%;
}

#hero p {
font-size: 24px;
margin-bottom: 40px;
margin-left: 1%;

}

.btn {
background-color: #cfb09d;
color: #fff;
padding: 10px 20px;
border-radius: 5px;
text-decoration: none;
transition: background-color 0.2s ease-in-out;
margin-left: 30%;
width: 125px;
}

.btn:hover {
  background: #947455df;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #836445df,
              0 0 25px #836445df,
              0 0 50px #836445df,
              0 0 100px #836445df;
}

#about, #services{
margin-bottom: 5px;
margin: 10px;
}

#services ul {
list-style: none;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 20px;
}

#services li {
  width:400px;
background-color: #ffffff;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
padding: 20px;
border-radius: 5px;
}

#services li a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  }

#services li:hover {
transform: translateY(-5px);
box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}
#services li a:hover {
  color: #340a1a;
  }

footer {
background-color: #54463e;
color: #fff;
height: 150px;
text-align: center;
padding: 20px;
}
.desc h1{
  color: #ec6e9f;
  font-family:'Lucida Sans';
  font-size: 50px;
}
.desc p{
  color: #ebb8d3;
  font-family: Georgia;
  font-size: 20px;
  
}
.pics img{
  max-width: 350px;
  margin-top:60px ;
 margin-left: 15%;
}
.pics a{
 font-size: 40px;
 text-decoration: none;
 margin-left:38% ;

}
.pics p{
  color: #f4d3e5;
  font-family: Georgia;
  font-size: 18px;
 }
.pics a:hover{
  color: #cd819e;
 -ms-zoom-animation: default;
 }

.desc img{
  display: flex;
  margin-left: 35%;
  height: 300px;
}
body[name="des"]r {
  background-clip: calc("pics/vidd.mp4");
}
video{
  position:fixed;
  display:flex;
  height: max-content;
  width: 1500px;
  bottom:0;
 
 right: 0;
 z-index :-1;
}

/* This is form css */
.table {
  display: table;
  width: 100%;
  height: 100%;
  
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container {
  position: relative;
  width: 600px;
  margin: 30px auto 0;
  height: 350px;
  background-color: #c0a28b;
  top: 50%;
  margin-top: -700px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  left: 250px;
}
.container .box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
 
}
.container .box:before, .container .box:after {
  content: " ";
  position: absolute;
  left: 152px;
  top: 50px;
  background-color: #fff2e8;
  transform: rotateX(52deg) rotateY(15deg) rotateZ(-38deg);
  width: 300px;
  height: 285px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .box:after {
  background-color: #ad886b;
  top: -10px;
  left: 80px;
  width: 320px;
  height: 180px;
}
.container .container-forms {
  position: relative;
}
.container .btn {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  width: 80px;
  color: #000000;
  background-color: #c0a28b;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

}
.container .btn a {
text-decoration: none;
color: #000000;
}
.container .bttn button {
  cursor: pointer;
  text-align: center;
  margin-left: 115px;
  width: 80px;
  color: #000000;
  border: none;
  background-color: #a58267;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 50px;

}
.container .btn:hover {
  opacity: 0.7;
}
.container .btn, .container input {
  padding: 10px 15px;
}
.container .bttn button:hover {
  opacity: 0.7;
}
.container .bttn button .container input {
  padding: 10px 15px;
}
.container input {
  margin: 0 auto 15px;
  display: block;
  width: 220px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container .container-forms .container-info {
  text-align: left;
  font-size: 0;
}
.container .container-forms .container-info .info-item {
  text-align: center;
  font-size: 16px;
  width: 300px;
  height: 320px;
  display: inline-block;
  vertical-align: top;
  color: hsl(0, 0%, 100%);
  opacity: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container .container-forms .container-info .info-item p {
  font-size: 20px;
  margin: 20px;
}
.container .container-forms .container-info .info-item .btn {
  background-color: transparent;
  border: 1px solid #fff;
}
.container .container-forms .container-info .info-item .table-cell {
  padding-right: 35px;
}
.container .container-forms .container-info .info-item:nth-child(2) .table-cell {
  padding-left: 35px;
  padding-right: 0;
}
.container .container-form {
  overflow: hidden;
  position: absolute;
  left: 30px;
  top: -30px;
  width: 305px;
  height: 380px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .container-form:before {
  content: "✔";
  position: absolute;
  left: 160px;
  top: -50px;
  color: #5356ad;
  font-size: 130px;
  opacity: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .container-form .btn {
  position: relative;
  box-shadow: 0 0 10px 1px #a55f7e;
  margin-top: 30px;
}
.container .container-form button {
  position: relative;
  box-shadow: 0 0 10px 1px #a55f7e;
  margin-top: 30px;
}
.container .form-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .form-item.sign-up {
  position: absolute;
  left: -100%;
  opacity: 0;
}
.container.log-in .box:before {
  position: absolute;
  left: 180px;
  top: 62px;
  height: 265px;
}
.container.log-in .box:after {
  top: 22px;
  left: 192px;
  width: 324px;
  height: 220px;
}
.container.log-in .container-form {
  left: 265px;
}
.container.log-in .container-form .form-item.sign-up {
  left: 0;
  opacity: 1;
}
.container.log-in .container-form .form-item.log-in {
  left: -100%;
  opacity: 0;
}

.rabbit {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  fill: #fff;
}
:root {
  --scrollcolor: #fff;
  --scrollbackground: #141e27;
}


.title {
  font-size: 2.5rem;
  font-family: system-ui;
  line-height: 1.1;
  font-weight: 300;
  color: #e0c09f;
  text-shadow: -1px 2px 0 black,
  1px 1px 0 black,
  1px -1px 0 black,
  -1px -1px 0 black;
  margin:400px;
  width: 85%;
  max-width: 1280px;
  margin-top: 60px;
}

.slider {
  width: 85%;
  max-width: 1280px;
  margin:200px;
  margin-top: -350px;
  margin-bottom: 10px;
}

.slider__content {
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  scrollbar-color: var(--scrollcolor) var(--scrollbackground);
}
.slider__content::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 1rem;
  background: var(--scrollbackground);
}
.slider__content::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--scrollcolor);
}
.slider__content::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: var(--scrollbackground);
}

.slider__item {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 100%;
  width: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;
}
@media (min-width: 460px) {
  .slider__item {
    aspect-ratio: 2/3;
    min-width: calc((100% / 2) - 2rem);
  }
}
@media (min-width: 940px) {
  .slider__item {
    min-width: calc((100% / 3) - 4rem);
  }
}

.slider__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.slider__info {
  position: relative;
  padding: 4rem 2rem 2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(32, 50, 57, 0));
}
.slider__info h2 {
  color: #fff;
  font-family: system-ui;
  line-height: 1.1;
  font-weight: 300;
  font-size: 1.75rem;
  margin: 0;
}

.slider__nav {
  margin: 1rem 0 4rem;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-content: center;
  align-items: center;
  pointer-events: none;
}
@media (min-width: 460px) {
  .slider__nav {
    justify-content: flex-end;
  }
}

.slider__nav__button {
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 2rem;
  background: #fff;
  color: #203239;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  line-height: 1;
  pointer-events: none;
  transition: 0.2s ease-out;
  opacity: 0.25;
}
.slider__nav__button--active {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}



.div1 {
display: inline-block;
margin-right: 80px;
margin-left: 60;
}
/*0000000000000000000000000000000000000*/
.wrap{
  place-items: center;
  margin-top: 5%;
  margin-left: 38%;
}
.wrap .bpn{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #efd9e1;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrap .bpn:hover{
  width: 200px;
}
.wrap .bpn .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrap .bpn:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrap .bpn:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrap .bpn:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrap .bpn:nth-child(4):hover .icon{
  background: #ff0000;
}
.wrap .bpn .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrap .bpn:hover .icon i{
  color: #fff;
}
.wrap .bpn span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrap .bpn:nth-child(1) span{
  color: #4267B2;
}
.wrap .bpn:nth-child(2) span{
  color: #1DA1F2;
}
.wrap .bpn:nth-child(3) span{
  color: #E1306C;
}
.wrap .bpn:nth-child(4) span{
  color: #b41212;
}

