/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
  }
  
  /* Header styles */
  h1{
    color: black;
  }
  
  .menu {
    list-style-type: none;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Banner styles */
  .banner {
    /* background-image: url('shop/back\ \(3\).jpg'); */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    background-color: #EFC3E6;
  }
  
  .banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  /* Featured products styles */
  .featured-products {
    background-color: #fff;
    padding: 40px;
    text-align: center;
  }
  
  .featured-products h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .product {
    display: inline-block;
    width: 200px;
    /* height:460px; */
    text-align: left;
    margin-right: 20px;
    margin-bottom: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* overflow: auto; */
  }
  
  .product img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .product h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .product p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .product button {
    /* background-color: #333; */
      background-color: #F9B4F6; 
    color: rgb(0, 0, 0);
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bold;
  
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover{
  
    background-color:#E983D8;
     }
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    font-size: 14px;
  }
  .logo {
    width: 80px; /* Adjust the width as needed */
    float: right; /* Positions the logo on the left */
  }
  
  
  .logo img {
    width: 100%;
    height: auto;
  
  }
  .logo2 {
    width: 80px; /* Adjust the width as needed */
    float: left; /* Positions the logo on the left */
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
  left: 20px;
  }
  
  
  .logo2 img {
    width: 100%;
    height: auto;
  
  }



  p{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   