
.rar img{
    height: 200px;
    margin-top:35px ;
   margin-left: 5%;
}
.huda img{
    height: 200px;
    margin-top:35px ;
   margin-left: 5%;
}
.kylie img{
    height: 200px;
    margin-top:35px ;
   margin-left: 5%;
}
.old img{
    height: 200px;
    margin-top:35px ;
   margin-left: 5%;
}
.new img{
    height: 200px;   
    margin-top:35px ;
   margin-left: 5%;
}
.hi img{
    height: 200px;
    margin-top:35px ;
   margin-left: 5%;
}
h1{
    text-align: center;
}
.h img{
    height: 300px;
    width:25git add *0px ;   
   margin-left: 12%;
   border-radius: 5%;
   margin-top: 10%;
   border: 2px solid rgb(0, 0, 0);
}
