body {
	background-color: #FFE6F2;
	font-family: Arial, sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: row;
}

.nav-bar {
	background-color: #F48FB1;
	height: 100vh;
	width: 150px;
	position: fixed;
}

.nav-bar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-bar li {
	padding: 10px;
}

.nav-bar a {
	color: #FFFFFF;
	font-size: 18px;
	text-decoration: none;
	transition: background-color 0.3s;
}

.nav-bar a:hover {
	background-color: #D81B60;
}

.profile-container {
	max-width: 800px;
	margin: 50px auto;
	padding: 30px;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	display: flex;
	flex-direction: row;
}

.profile-pic {
	margin-right: 30px;
}

.profile-pic img {
	border-radius: 50%;
}

.profile-info h1 {
	font-size: 36px;
	margin-bottom: 10px;
	color: #333333;
}

.profile-info p {
	font-size: 18px;
	margin-bottom: 5px;
	color: #666666;
}

.profile-info p:last-child {
	margin-bottom: 0;
}
body{
    padding: 0;
    margin: 0;
}