@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.wrap .bpn{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrap .bpn:hover{
  width: 200px;
}
.wrap .bpn .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrap .bpn:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrap .bpn:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrap .bpn:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrap .bpn:nth-child(4):hover .icon{
  background: #333;
}
.wrap .bpn:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrap .bpn .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrap .bpn:hover .icon i{
  color: #fff;
}
.wrap .bpn span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrap .bpn:nth-child(1) span{
  color: #4267B2;
}
.wrap .bpn:nth-child(2) span{
  color: #1DA1F2;
}
.wrap .bpn:nth-child(3) span{
  color: #E1306C;
}
.wrap .bpn:nth-child(4) span{
  color: #333;
}
.wrap .bpn:nth-child(5) span{
  color: #ff0000;
}